<h2 class="screen-align">Updatedeltickets</h2>
<div id="template-irxy" class="gjs-row">
    <div id="template-i2kk" class="gjs-cell">
        <div id="template-ik0yd" class="gjs-row">
            <div id="template-itkfv" class="gjs-cell">
                <div id="template-ior8q" class="">Start tracking your Tasks & Issues
                    <br id="template-ioa1d" class="">
                </div>
                <div id="template-iatid" class="">Create new ticket</div>
            </div>
        </div>
    </div>
    <div id="template-ii59b" class="gjs-cell">
        <label id="template-igsdy" class="label ">Name
            <br id="template-igjgl" class="">
        </label>
        <input id="template-i2kt8" [(ngModel)]="tickets.name" [ngModelOptions]="{standalone: true}"
        ngDefaultControl class="input form-control " />
    </div>
    <div id="template-ig2i" class="gjs-cell">
        <label id="template-irzn8" class="label ">Assignees</label>
        <input id="template-i8lxh" [(ngModel)]="tickets.assigness"
        [ngModelOptions]="{standalone: true}" ngDefaultControl class="input form-control "
        />
    </div>
    <div id="template-irvh" class="gjs-cell">
        <label id="template-iprz9" class="label ">Severity</label>
        <div id="template-ityx1" class=""></div>
        <div id="template-ifop6" class=""></div>
        <div id="template-ijbve" class="">
            <ng-select id="template-i01rh" name="dynamicdropdown_template-i01rh" [searchable]="true"
            [virtualScroll]="true" [items]="severityitemArray" bindLabel="name" bindValue="name"
            [(ngModel)]="tickets.severity" [ngModelOptions]="{standalone: true}" ngDefaultControl
            (click)="severityGpGetAllValues()" class="form-control "></ng-select>
        </div>
    </div>
    <div id="template-ijpg" class="gjs-cell">
        <label id="template-iudhl" class="label ">Types</label>
        <div id="template-iijtz" class="">
            <ng-select id="template-i2dil" name="dynamicdropdown_template-i2dil" [searchable]="true"
            [virtualScroll]="true" [items]="typesitemArray" bindLabel="name" bindValue="name"
            [(ngModel)]="tickets.types" [ngModelOptions]="{standalone: true}" ngDefaultControl
            (click)="typesGpGetAllValues()" class="form-control "></ng-select>
        </div>
        <div id="template-iikk9" class=""></div>
        <div id="template-ickkl" class=""></div>
    </div>
    <div id="template-i8fws" class="gjs-cell">
        <label id="template-irkcj" class="label ">Status</label>
        <div id="template-ivn2p" class=""></div>
        <select id="template-i87lt" [(ngModel)]="tickets.ticketstatus" [ngModelOptions]="{standalone: true}"
        ngDefaultControl class="select form-control">
            <option value="" id="template-i3wcw" class="">open</option>
            <option value="" id="template-imlug" class="">close</option>
            <option value="" id="template-ik7e5" class="">inprogress</option>
        </select>
    </div>
    <div id="template-i0hso" class="gjs-cell">
        <div id="template-i68l1" (click)="GpUpdate()" class="button btn btn-primary ">Update</div>
        <div id="template-i29qa" (click)="GpDelete()" class="button btn btn-primary ">Delete</div>
    </div>
</div>